@charset "UTF-8";

.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0,;
  width: 100%;
  z-index: 1;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header-inner {
  padding: 15px 0;
}

.fa-bolt {
  color: #4e4e4e;
  font-size: 40px;
  display: inline-block;
  margin-right: 1000px;
}

.header__contact {
  font-size: 12px;
  padding: 14px 12px;
  color: white;
  background-color: #74cfae;
  transition: all 300ms 0s ease;
  display: inline-block;
  vertical-align: top;
}

.header__contact:hover {
  color: #333;
}

.theme {
  background-color: #f2f2f2;
  text-align: center;
}

.theme-inner {
  display: inline-block;
  margin: 320px auto 250px;
}

.theme__item__top {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.theme__item__bottom {
  color: #c0c0c0;
  font-size: 30px;
}

.what {
  background-color: #74cfae;
}

.what-inner {
  text-align: center;
  font-size: 0;
}

.what__item__picture {
  display: inline-block;
  margin-top: 50px;
}

.what__item__right {
  width: 600px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 100px;
  vertical-align: top;

}

.what__item__top {
  font-size: 24px;
  color: white;
  margin-bottom: 35px;
}

.what__item__bottom {
  font-size: 20px;
  color: white;
}

.work {
  background-color: #f2f2f2;
  text-align: center;
}

.work-inner__top {
  display: inline-block;
  font-size: 24px;
  color: #333;
  margin: 60px auto 40px
}

.work-inner__middle {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: center;
}

.picture1 {
  margin-right: 100px;
  margin-bottom: 80px;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.picture1:hover {
  
  opacity: 1;
}

.picture2 {
  margin-right: 100px;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.picture2:hover {
  opacity: 1;
}

.picture3 {
  opacity: 0.7;
  transition: all 0.3s ease;
}

.picture3:hover {
  opacity: 1;
}

.picture4 {
  margin-right: 100px;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.picture4:hover {
  
  opacity: 1;
}

.picture5 {
  margin-right: 100px;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.picture5:hover {
  opacity: 1;
}

.picture6 {
  opacity: 0.7;
  transition: all 0.3s ease;
}

.picture6:hover {
  opacity: 1;
}

.work-inner__bottom {
  text-align: center;
  padding-bottom: 70px;
}

.work__item__bottom__text {
  display: inline-block;
  color: #333;
  width: 550px;
  margin-right: 90px;
}

.work__item__bottom__button {
  font-size: 12px;
  padding: 14px 20px;
  color: white;
  background-color: #74cfae;
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s ease;
}

.work__item__bottom__button:hover {
  color: #333;
}

.skills {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}

.skills-inner__top {
  display: inline-block;
  color: white;
  margin-bottom: 50px;
}

.skills-inner__bottom {
  text-align: center;
}


.skills__item__bottom__picture1 {
  display: inline-block;
  margin-right: 180px;
}

.skills__item__bottom__picture2 {
  display: inline-block;
  margin-right: 180px;
}

.skills__item__bottom__picture3 {
  display: inline-block;
  margin-right: 180px;
}

.skills__item__bottom__picture4 {
  display: inline-block;
}

.skills__item__bottom__text {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

.sns {
  background-color: #f2f2f2;
  
}

.sns-inner {
  text-align: center;
}

.sns__icon-box {
  width: 185px;
  height: 90px;
  background-color: #f2f2f2;
  display: inline-block;
  margin-top: 250px;
  margin-bottom: 250px;
  position: relative;
  transition: all 300ms 0s ease;
}

.sns__icon-box:hover {
  background-color: white;
}

.fa-facebook-f {
  color: #74cfae;
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
}

.fa-dribbble {
  color: #74cfae;
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
}

.fa-twitter {
  color: #74cfae;
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
}

.fa-envelope {
  color: #74cfae;
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  text-align: right;
}

.footer__text {
  color: white;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 25px;
}